{% extends 'base.template.html' %}

{% block headline %} Novo Post {% endblock %}


{% macro filed(name, type="input") %}
    <label for="{{ name }}">{{ name | capitalize }}:</label><br />
    {% if type == "input" %}
        <input type="text" name="{{name}}" /><br />
    {% elif type == "textarea" %}
        <textarea name="{{name}}" cols="30" rows="10"></textarea><br />
    {% endif %}
{% endmacro %}


{% block content %}
    <form action="/new" method="post">
        {{ filed("title")}}
        {{ filed("content", type="textarea")}}
        {{ filed("author")}}
        <input type="submit" value="Enviar" />
    </form>
{% endblock %}